	
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Teste Watson</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/getrequest.js"></script>
  <script src="/static/js/postrequest.js"></script>
</head>
 
<body> 
  <div class="container"> 
  <div class="col-sm-4">
    <h3>NodeJS/AJAX/MySQL</h3>
    <div style="display: inline-block;">    
      <form id="comentarioForm">
        <div class="form-group">
        <label for="comentario">Comentario:</label>
        <input type="textarea" class="form-control" id="comentario" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div style="display: inline-block;">
      <div id="getResultDiv">    
      </div>
    </div>
  </div>  
  </div>
</body>
</html>